{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="py-5 bg-light">
  {% include 'includes/alerts.html' %}
  <div class="container-fluid">
    <div class="row">
      <!-- Sidebar -->
      {% include 'includes/dashboard_sidebar.html' %}
      <main class="col-lg-9 col-md-8 col-sm-12">
        <div class="card mb-4">
          <!-- Header with User Info -->
          <div class="card-header d-flex flex-wrap justify-content-between">
            <span><strong>Logged in as:</strong></span>
            <span>{{ user.full_name }}</span>
          </div>
          <div class="card-body">
            <div class="row g-4">
              <!-- Total Orders -->
              <div class="col-xl-6 col-lg-6 col-md-12">
                <div class="card text-center h-100">
                  <div class="card-body">
                    <h5 class="card-title">Total Orders</h5>
                    <h4>{{ orders_count }}</h4>
                    <a href="{% url 'my_orders' %}">View Orders</a>
                  </div>
                </div>
              </div>
              <!-- User Profile Info -->
              <div class="col-xl-6 col-lg-6 col-md-12">
                <div class="card text-center h-100">
                  <div class="card-body">
                    {% if userprofile.profile_picture and userprofile.profile_picture.name != 'profile_pictures/default.jpg' %}
                            <img src="{{ userprofile.profile_picture.url }}" alt="User Profile Picture" width="50" height="50" style="border-radius:50%;">
                        {% else %}
                            <img src="{% static 'images/default.jpg' %}" alt="Default Profile Picture" width="50" height="50" style="border-radius:50%;">
                        {% endif %}
                    <p class="mb-0">{{ user.email }}</p>
                    <p>{{ user.phone_number }}</p>
                  </div>
                </div>
              </div>
            </div> <!-- row -->
          </div> <!-- card-body -->
        </div> <!-- card -->
      </main>
    </div> <!-- row -->
  </div> <!-- container -->
</section>
{% endblock %}
