{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="py-5 bg-light">
  {% include 'includes/alerts.html' %}
  <div class="container-fluid">
    <div class="row">
      <!-- Sidebar -->
      {% include 'includes/dashboard_sidebar.html' %}
      <main class="col-lg-9 col-md-8 col-sm-12">
        <div class="card">
          <div class="card-header">
            <!-- Edit Profile Title -->
            <strong>Edit Your Profile</strong>
          </div>
          <div class="card-body">
            <!-- Profile Picture Display -->
            <div class="text-end mb-3">
                {% if user.user_profile.profile_picture.url %}
                  <img src="{{ request.user.userprofile.profile_picture.url }}" alt="User Profile Picture" width="50" height="50" style="border-radius:50%;">
                {% else %}
                  <img src="{% static 'images/default.jpg' %}" alt="Default Profile Picture" width="50" height="50" style="border-radius:50%;">
                {% endif %}
            </div>
            <!-- Edit Profile Form -->
            <form action="{% url 'edit_profile' %}" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="row mb-3">
                <!-- First & Last Name -->
                <div class="col-md-6">
                  <label>First Name</label>
                  {{ user_form.first_name }}
                </div>
                <div class="col-md-6">
                  <label>Last Name</label>
                  {{ user_form.last_name }}
                </div>
              </div>
              <div class="row mb-3">
                <!-- Phone & Picture -->
                <div class="col-md-6">
                  <label>Phone Number</label>
                  {{ user_form.phone_number }}
                </div>
                <div class="col-md-6">
                  <label>Profile Picture</label>
                  {{ profile_form.profile_picture }}
                </div>
              </div>
              <!-- Address Lines -->
              <div class="mb-3">
                <label>Address Line 1</label>
                {{ profile_form.address_line_1 }}
              </div>
              <div class="mb-3">
                <label>Address Line 2</label>
                {{ profile_form.address_line_2 }}
              </div>
              <!-- City, State, Country -->
              <div class="row mb-3">
                <div class="col-md-4">
                  <label>City</label>
                  {{ profile_form.city }}
                </div>
                <div class="col-md-4">
                  <label>State</label>
                  {{ profile_form.state }}
                </div>
                <div class="col-md-4">
                  <label>Country</label>
                  {{ profile_form.country }}
                </div>
              </div>
              <!-- Submit Button -->
              <button type="submit" class="btn btn-primary w-100">Save</button>
            </form>
          </div>
        </div>
      </main>
    </div>
  </div>
</section>
{% endblock %}
