{% extends 'base.html' %}

{% block content %}
<section class="py-5" style="min-height: 84vh;">
  <div class="container-fluid">
    {% if request.GET.command == 'verification' %}
      <div class="alert alert-info text-center mx-auto" style="max-width: 600px;">
        Thank you for registering with us. A verification email has been sent to [{{ request.GET.email }}].<br><br>
        Already verified? <a href="{% url 'login' %}">Login</a>
      </div>
    {% else %}
      <div class="row justify-content-center">
        <div class="col-12 col-sm-10 col-md-8 col-lg-5 col-xl-4">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title mb-4">Sign In</h4>
              {% include 'includes/alerts.html' %}
              <form action="{% url 'login' %}" method="POST">
                {% csrf_token %}
                <div class="mb-3">
                  <input type="email" class="form-control" placeholder="Email Address" name="email" required>
                </div>
                <div class="mb-3">
                  <input type="password" class="form-control" placeholder="Password" name="password" required>
                </div>
                <div class="mb-3 text-end">
                  <a href="{% url 'forgotPassword' %}">Forgot password?</a>
                </div>
                <div class="mb-3">
                  <button type="submit" class="btn btn-primary w-100">Login</button>
                </div>
              </form>
            </div>
          </div>
          <p class="text-center mt-4">Don't have an account? <a href="{% url 'register' %}">Sign up</a></p>
        </div>
      </div>
    {% endif %}
  </div>
</section>
{% endblock %}
